.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: var(--between-section-margin);
    padding-bottom: var(--between-section-margin);
  }
}

.clients-list {
  content: '';
  list-style: none;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
}
