.clients-list__link {
  list-style-type: none;
  content: '';
  display: flex;
  border: none;
  height: auto;
  justify-content: center;
  align-items: center;
  fill: var(--social-icon-color);
  border: 1px solid var(--social-icon-color);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
  &:hover,
  &:focus {
    fill: var(--hover-color);
    border: 1px solid var(--hover-color);
  }
}

.clients-list__item {
  margin-bottom: 30px;
  margin-left: 30px;
  width: calc(100% / 2 - 30px);
  @media screen and (min-width: 768px) {
    width: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 6 - 30px);
  }
}
