.logo {
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  letter-spacing: 0.03em;
  max-width: 134px;
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.logo__header {
  color: #000000;
  padding-top: 16px;
  padding-bottom: 16px;
  .logo__part {
    color: var(--hover-color);
  }
}

.logo__footer {
  margin-left: auto;
  margin-right: auto;
  color: var(--footer-text-color);
  .logo__part {
    color: var(--hover-color);
  }
}
